/**
 * @file
 */
/* Static View-only Star Version */
/*.fivestar-flavor div.fivestar-widget-static .star {*/
  /*background-image: url("../../images/widget-icon/star.png");*/
/*}*/

/*.fivestar-flavor div.fivestar-widget-static .star span.on {*/
  /*background-image: url("../../images/widget-icon/star.png");*/
/*}*/

/*.fivestar-flavor div.fivestar-widget-static .star span.off {*/
  /*background-image: url("../../images/widget-icon/star.png");*/
/*}*/

/*!* Javascript Star Version *!*/
/*.fivestar-flavor div.fivestar-widget .cancel,*/
/*.fivestar-flavor div.fivestar-widget .cancel a {*/
  /*background-image: url("../../images/widget-icon/cancel.png");*/
/*}*/
/*.fivestar-flavor div.fivestar-widget .star,*/
/*.fivestar-flavor div.fivestar-widget .star a {*/
  /*background-image: url("../../images/widget-icon/star.png");*/
/*}*/

/*.fivestar-flavor div.fivestar-widget div.hover a,*/
/*.fivestar-flavor div.rating div a:hover {*/
  /*background-image: url("../../images/widget-icon/star.png");*/
/*}*/

.fivestar-flavor div.fivestar-widget-static .star {
  width: 20px;
  height: 26px;
  background: url("../../images/widget-icon/flame.png") no-repeat 0 0;
}

.fivestar-flavor div.fivestar-widget-static .star span.on {
  background: url("../../images/widget-icon/flame.png") no-repeat 0 -52px;
}

.fivestar-flavor div.fivestar-widget-static .star span.off {
  background: url("../../images/widget-icon/flame.png") no-repeat 0 0;
}

/* Javascript Star Version */
.fivestar-flavor div.fivestar-widget .cancel,
.fivestar-flavor div.fivestar-widget .star {
  width: 17px;
  height: 26px;
}
.fivestar-flavor div.fivestar-widget .cancel,
.fivestar-flavor div.fivestar-widget .cancel a {
  background: url("../../images/widget-icon/delete.png") no-repeat 0 0;
}

.fivestar-flavor div.fivestar-widget .star,
.fivestar-flavor div.fivestar-widget .star a {
  background: url("../../images/widget-icon/flame.png") no-repeat 0 0;
}

.fivestar-flavor div.fivestar-widget div.on a {
  background-position: 0 -26px;
}
.fivestar-flavor div.fivestar-widget div.hover a,
.fivestar-flavor div.rating div a:hover {
  background-position: 0 -52px;
}
