/**
 * @file
 * Secondary menu region layout styling.
 */

@import "../base/variables.pcss.css";

.region--secondary-menu {
  display: flex;
  margin-block-start: var(--sp2);
  margin-block-end: var(--sp2);

  & > * {
    margin-block-end: 0;
  }
}

body:not(.is-always-mobile-nav) {
  @media (--nav) {
    & .region--secondary-menu {
      justify-content: flex-end;
      margin: 0;

      /* If the secondary nav is the first item within the header, it does not need left separator. */
      &:first-child .secondary-nav:before {
        content: none;
      }
    }
  }
}

.menu--language-interface {
  display: flex;
  align-items: center;

  & ul.links {
      padding: 0;
      margin: 0 0 0 var(--sp2-5);
      display: flex;
      flex-flow: row nowrap;

  & li {
      list-style: none;

      &:last-child {
         margin-left: 5px;
       }

       & a {
           color: var(--color--gray-50);
           font-family: var(--font-sans);
           font-weight: 600;
           font-size: var(--font-size-s);
           line-height: var(--line-height-s);
           letter-spacing: 0.02em;
           text-transform: uppercase;
           text-decoration: none;

          &.is-active {
             color: var(--color--black-1);
           }

           &:hover {
              color: var(--color--black-1);
            }
         }
    }
    }
}

.menu--user-registration-menu {
  margin: 0 0 0 var(--sp2);

  & a {
      color: var(--color--white);
      font-weight: 700;
      font-size: var(--font-size-s);
      line-height: var(--line-height-s);
      letter-spacing: 0.02em;
      background: var(--color--gray-1);
      border-radius: 2px;
      padding: 9px 18px;
      text-decoration: none;

  &:hover {
     background: var(--color--blue-20);
  text-decoration: none;
   }

   &:after {
  content: none;
    }
    }
}

